/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.nav-bar-bnh {
    background-color: #007bff;
}

img.bnh-logo {
    border-radius: 10%;
}

#navbardrop {
    color: ghostwhite;
}

.nav-item {
    background-color: #007bff;
}

.nav-item a:hover{
    background-color: #007bff;
}

#nav-main-links{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-text{
    padding-bottom: 20px;
}

a.btn{
    text-decoration: none;
}

a.btn:hover{
    text-decoration: none;
}