/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.nav-bar-bnh {
    background-color: #28292d;
}

img.bnh-logo {
    border-radius: 10%;
}

#navbardrop {
    color: ghostwhite;
}

.nav-item {
    background-color: #28292d;
}

.nav-item a:hover{
    background-color: #28292d;
}

#nav-main-links{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-text{
    padding-bottom: 20px;
}

a.btn{
    text-decoration: none;
}

a.btn:hover{
    text-decoration: none;
}

.btn-danger:focus,
.btn-danger.active {
    box-shadow: none;
    outline: none;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success:focus,
.btn-success.active {
    box-shadow: none;
    outline: none;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.side-img{
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}

.side-image-float-left{
    padding-top: 10px;
}

.above-image-float{
    clear: left;
    padding-top: 30px;
}